# Ignore virtual environments
venv/
.python-version

# Ignore all notebooks
*.ipynb

# Don't ignore significant notebooks

# Ignore Python caches
__pycache__/

# Ignore VSCode settings directory
.vscode/