# Ignore virtual environments
venv/
.python-version

# Ignore all notebooks
*.ipynb

# By default ignore files in notebooks dir
notebooks/*

# Don't ignore significant files in notebooks dir
!notebooks/preamble.py
!notebooks/calibrate.ipynb
!notebooks/hand_guiding_experiment.ipynb
!notebooks/phrase_trial_experiment.ipynb
!notebooks/analyze_phrase_trials.ipynb
!notebooks/record_force_sensor.py

# Ignore Python caches
__pycache__/

# Ignore VSCode settings directory
.vscode/

# Ignore .npy files
*.npy

# Ignore .DS_store files
*.DS_store