# Ignore virtual environments
venv/
.python-version

# Ignore all notebooks
*.ipynb

# Don't ignore significant notebooks
!notebooks/calibrate.ipynb
!notebooks/hand_guiding_game.ipynb

# Ignore Python caches
__pycache__/

# Ignore VSCode settings directory
.vscode/

# Ignore .npy files
*.npy